body {
  width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.7;
}

.editable:focus {
  outline: none;
}

.editable pre,
.editable blockquote {
  margin: 0 0 10px;
  padding: 20px;
  background-color: #f7f7f7;
  color: #808080;
}

.editable h1,
.editable h2,
.editable h3,
.editable h4,
.editable h5,
.editable h6 {
  margin: 1.5em 0 0.5em;
}
