body {
  width: 800px;
  margin: 40px auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.7;
}

.editable:focus {
  outline: none;
}

.editable pre,
.editable blockquote {
  margin: 0 0 10px;
  padding: 20px;
  background-color: #f7f7f7;
  color: #808080;
}
